body {
    background-image: url(https://lh3.googleusercontent.com/9zE3StG50FuHs9PCo6kMTIhWKyIc3vJ2JqxPZEgaKc8WQ2vzAyWR4wqYYhMZ7zkhc0C893COYflGKt70Sb15e4gg7eI=s1280-w1280-h800);
    padding: 20px;
    font-size: 16px;
}

.textbox {
    background-color: #0d1230;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;
}

.form-menu {
    width: 80%;
    background-color: #0d1230;
    padding: 30px;
    margin: 0 auto;
    max-width: 500px;
    font-size: 16px;
}

.data-menu {
    width: 80%;
    background-color: #0d1230;
    padding: 30px;
    margin: 0 auto;
    max-width: 500px;
    font-size: 16px;
}

h1, h2, p {
    color: beige;
    text-align: center;
    margin: 0 0 0.5em 0;
}

p {
    margin-bottom: 30px;
}

label {
    display: block;
    color: beige;
    margin: 0;
}

input, textarea, select {
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 5px 0 1em 0;
    min-height: 2em;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: white;
}

textarea {
    resize: none;
    margin-top: 10px;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}

fieldset {
    border: none;
    border-top: 1px solid lightslategray;
    padding: 0;
    padding-top: 15px;
    margin: 0 10px;
}

fieldset:first-of-type {
    border-top: 0px;
}

.inline {
    width: unset;
    display: inline;
    margin: 0 0.5em 0 0;
    vertical-align: sub;
}

@media (max-width: 600px) {
    input[type="submit"] {
        width: 100%;
    }
}