* {
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-color: #1e1e2e;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.title {
    color: #ffd700;
    font-family: Cinzel, sans-serif;
    font-weight: bold;
}

#game {
    display: block;
    max-width: 500px;
    max-height: 600px;
    background-color: #ffffff;
    color:#ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
}

#controls, #stats {
    width: 100%;
    border: 1px solid #1e1e2e;
    color: #1e1e2e;
    padding: 5px;
}

#stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#full-stats {
    display: none;
}

#full-stats > span {
    display: block;
}

br {
    height: 1rem;
}

#stats > button {
    align-self: flex-start;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: underline;
    background-color: #ffffff;
    border: none;
}

.stat {
    padding-right: 10px;
}

button:hover {
    color: #ffd700;
}

#controls {
    background-color: burlywood;
    padding: 0;
    border: 1px solid black;
}

#controls > button {
    display: block;
    margin: 5px auto;
    cursor: pointer;
    font-family: monospace;
    text-align: center;
    color: #fafad2;
    background-color: #556b2f;
    background-image: linear-gradient(#6b8e23, #556b2f);
    border: 3px solid #556b2f;
    padding-top: 2px;
    padding-bottom: 2px;
}

#controls > button:hover {
    color: #1e1e2e;
    background-color: #ffd700;
    background-image: linear-gradient(#fff1a4, #ffd700);
    border: 3px solid #000000;
    padding-top: 3px;
    padding-bottom: 3px;
}

#monsterStats {
    padding-top: 5px;
    display: none;
    border: 1px solid #1e1e2e;
    background-color: #c70d0d;
    color: #ffffff;
    font-size: 0.8rem;
}

#monsterStats > .stat {
    padding: 5px 10px;
}

.progressbar-background {
    background-color: #1e1e2e;
    height: 0.2rem;
}

#monsterHealthBar {
    margin-top: 3px;
    text-align: left;
    background-color: #8b0000;
    width: 100%;
    height: 0.2rem;
}

hr {
    width: 100%;
    max-width: 800px;
}

#combat-logs {
    font-family: 'Courier New', Courier, monospace;
    display: none;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 800px;
    max-height: 22rem; 
    margin: 10px auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#combat-log {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text {
    display: block;
    width: 100%;
    background-color: #1e1e2e;
    font-family: Merriweather, sans-serif;
    color: #ffffff;
    padding: 10px;
}

.entity {
    font-weight: bold;
}

.green {
    color:greenyellow;
}

.yellow {
    color: #ffd700;
}

.darkRed {
    color: #8b0000;
}

.purple {
    color: purple;
}

.blueViolet {
    color: blueviolet;
}

.grey {
    color: grey;
}

.damageRed {
    color: red;
}

@media only screen and (max-width: 767px) {
    #combat-logs {
        max-height: 12rem;
    }
}

/* colors:
        gold: ffd700, 
        light goldenrod yellow: fafad2,
        dark red: [a52a2a, 8b0000],
        dark olive: [6b8e23, 556b2f],
        saddle brown: [d2b48c, 8b4513],
        firebrick: [b22222, f08080],
*/