body {
    background-color: #F6EEE9;
    font-family: "Brush Script MT", cursive;
}

h1, p {
    left: 0;
    text-align: center; 
    width: 100%;
    color: #FB9EBB;
    font-weight: bolder;
}

h1 {
    margin-top: 50%;
}