body {
    background-image: imagesbg.jpeg;
    font-family: "Brush Script MT", cursive;
}

.container {
    width: 80%;
    padding: 10px;
    margin-top: 50%:
    margin-left: auto;
    margin-right: auto;
    background-color: #F6EEE9;
}

h1, p {
    left: 0;
    text-align: center; 
    width: 100%;
    color: #FB9EBB;
    font-weight: bolder;
}

h1 {
    color: #FB6F92
}
