body {
    background-image: url("imagesbg.jpg");
    background-size: cover;
    font-family: "Brush Script MT", cursive;
}

.container {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50%:
    text-align: center;
    background-color: #F6EEE9;
}

h1, p {
    text-align: center; 
    color: #FB9EBB;
    font-weight: bolder;
}

h1 {
    color: #FB6F92
}
